@import "tailwindcss";

body {
  background-color: #211d1b;
  padding-top: 10px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
}

::selection {
  background-color: #519975;
  color: black;
}

/*
Source - https://stackoverflow.com/a
Posted by Mr. Alien, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-10, License - CC BY-SA 4.0
*/

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.text-glow {
  text-shadow: 0px 0px 10px #73abad75, 0px 0px 10px #73abad81,
    0px 0px 10px #73abad56, 0px 0px 10px #73abad6c, 0px 0px 10px #73abad7d;
}

.remove {
  display: none;
}

.command-ran {
  color: #498869;
}


